{% extends "base.html" %}

{% block content %}
<div class="w3-container">
<h1 class="w3-text-blue">AQ Report Sheet Generator</h1>

<h2>Pick The Parameters</h2>
<form action="/report" method="get" class="w3-half">
    <label for="placeName"><b>Place:</b></label>
    <input class="w3-input w3-border" list="countries" type="text" id="placeName" name="placeName" required="required" placeholder="e.g. India" autocomplete="off" />
    <div class="w3-right-align">This can be a country or a city name.</div>
    <ul id="suggestions" class="w3-ul w3-hoverable">
        <li class="suggested-item"></li>
    </ul>

    <label for="time"><b>Averaging Time Interval:</b></label>
    <select id="time" name="time" class="w3-input w3-border">
        <option value="monthly" selected="selected">Monthly</option>
        <option value="weekly">Weekly</option>
        <option value="hourly">Hourly</option>
    </select>
    <div class="w3-right-align">This is for choosing how detailed the data should be.</div>

    <label for="pollutants"><b>Pollutants</b></label>
    <div>
        <input type="checkbox" value="pm25" id="pm25" name="pm25" checked="checked" class="w3-check"/>
        <label for="pm25">PM2.5</label>
    </div>
    <div>
        <input type="checkbox" value="pm10" id="pm10" name="pm10" checked="checked" class="w3-check"/>
        <label for="pm10">PM10</label>
    </div>
    <div>
        <input type="checkbox" value="co" id="co" name="co" checked="checked" class="w3-check" />
        <label for="pm25">CO</label><br>
    </div>
    <div>
        <input type="checkbox" value="o3" id="o3" name="o3" checked="checked" class="w3-check"/>
        <label for="pm10">O<sub>3</sub></label><br>
    </div>
    <div>
        <input type="checkbox" value="no2" id="no2" name="no2" checked="checked" class="w3-check"/>
        <label for="pm25">NO<sub>2</sub></label><br>
    </div>
    <div>
        <input type="checkbox" value="so2" id="so2" name="so2" checked="checked" class="w3-check"/>
        <label for="pm25">SO<sub>2</sub></label><br>
    </div>
    <div>
        <input type="checkbox" value="bc" id="bc" name="bc" checked="checked" class="w3-check" />
        <label for="pm10">BC</label><br>
    </div>
    <div>
        <label for="dateFrom"><b>Date starting at</b></label>
        <input type="date" id="dateFrom" name="dateFrom" class="w3-input w3-border" />
        <label for="dateTo"><b>Until</b></label>
        <input type="date" id="dateTo" name="dateTo" class="w3-input w3-border" />
        <div class="w3-right-align">This is for defining the range of data you want to look at.</div>
    </div>
    <input type="submit" value="GO!" class="w3-button w3-blue w3-large w3-wide"/>
</form>
<script>
    // set ending date to today by default
    document.getElementById('dateTo').valueAsDate = new Date();

    const places_url = "{{ url_for('static', filename='places.json') }}";
    const places = [];

    fetch(places_url)
        .then(blob => blob.json())
        .then(data => places.push(...data.places));

    function findPlace(nameToMatch, data) {
        const regex = new RegExp(nameToMatch, 'gi');
        const matches = data.filter(item => item.name && item.name.match(regex));
        
        return matches;
    }

    // called on the search input changes
    function displayMatchedPlaces() {
        // don't do when there's no value
        if (this.value.length == 0) return;

        const result = findPlace(this.value, places);
        const html = result.map(place => {
            return `
                <li class="suggested-item"
                    data-name="${place.name}"
                    data-id="${place.id}"
                    data-type="${place.type}">
                    <span class="suggestion-name">${place.name}</span>
                </li>
            `;
        }).join('');
        suggestions.innerHTML = html;

        const suggestedItems = document.querySelectorAll(".suggested-item");
        suggestedItems.forEach(i => i.addEventListener('click', function() {
            document.querySelector('#placeName').value = this.dataset.name;
            // todo: also set hidden form fields
            console.log(this.dataset.name)

            // reset suggestions list
            suggestions.innerHTML = '';
        }));
    }

    const searchInput = document.querySelector('#placeName');
    const suggestions = document.querySelector('#suggestions');

    searchInput.addEventListener('change', displayMatchedPlaces);
    searchInput.addEventListener('keyup', displayMatchedPlaces);
</script>
</div>
{% endblock %}