{% extends "base.html" %}
{% block content %}
<div class="w3-container">
<h1>AQ Report Sheet Generator</h1>
<h2>Pick The Parameters</h2>
<form action="/report" method="get">
    <label for="placeName">Place:</label>
    <input list="countries" type="text" id="placeName" name="placeName" required="required" placeholder="e.g. India" />(This can be a country or a city name)<br/>
    <datalist id="countries">
    {% for country in countries %}
        <option value="{{ country }}">
    {% endfor %}
    </datalist>

    <label for="time">Averaging Time Interval:</label>
    <select id="time" name="time">
        <option value="monthly">Monthly</option>
        <option value="weekly" selected="selected">Weekly</option>
        <option value="hourly">Hourly</option>
    </select> (This is for choosing how detailed the data should be)<br/>
    <label for="pollutants">Pollutants (You can pick any number of pollutants)</label><br>
    <input type="checkbox" value="pm25" id="pm25" name="pm25" checked="checked" />
    <label for="pm25">PM2.5</label><br>
    <input type="checkbox" value="pm10" id="pm10" name="pm10" checked="checked" />
    <label for="pm10">PM10</label><br>
    <input type="checkbox" value="co" id="co" name="co" checked="checked" />
    <label for="pm25">CO</label><br>
    <input type="checkbox" value="o3" id="o3" name="o3" checked="checked" />
    <label for="pm10">O<sub>3</sub></label><br>
    <input type="checkbox" value="no2" id="no2" name="no2" checked="checked" />
    <label for="pm25">NO<sub>2</sub></label><br>
    <input type="checkbox" value="so2" id="so2" name="so2" checked="checked" />
    <label for="pm25">SO<sub>2</sub></label><br>
    <input type="checkbox" value="bc" id="bc" name="bc" checked="checked" />
    <label for="pm10">BC</label><br>
    <label for="dateFrom">Date starting at</label>
    <input type="date" id="dateFrom" name="dateFrom" /> (This is for defining the range of data you want to look at)<br>
    <label for="dateTo">Until</label>
    <input type="date" id="dateTo" name="dateFrom" /><br>
    <input type="submit" value="GO!" class="w3-button w3-blue w3-large w3-wide"/>
</form>
<script>
    // set ending date to today by default
    document.getElementById('dateTo').valueAsDate = new Date();
</script>
</div>
{% endblock %}