{% extends "base.html" %}
{% block content %}
<h1>AQ Report Sheet Generator</h1>
<h2>Here's Your Report</h2>
<h3>You have selected (DEBUG):</h3>
<ul>
    <li>Place: {{ placeName }}</li>
    <li>Averaging Time: {{ averaging_time }}</li>
    <li>Pollutants: {{ pollutants }}</li>
    <li>Date Starting: {{ date_from }}</li>
    <li>Date Ending: {{ date_to }}</li>
</ul>
<div>
    <h3>Stats</h3>
    <p>To be added...</p>
    <h3>Charts</h3>
    <p>To be added...</p>
    <h3>Map of sensor locations</h3>
    <p>To be added...</p>
    <h3>Download options</h3>
    <button>Download Report -></button>
    <button>Download Data -></button>
    <h3>Learn More</h3>
    <a href="/resources">Learn More</a>
</div>
{% endblock %}