{% extends "base.html" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.5/chartjs-plugin-annotation.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet" />
<meta property="og:url"           content="{{ page_url }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Air Quality Snapshot for {{ place_name }} {{ date_from }} to {{ date_to }}" />
<meta property="og:description"   content="Air Quality Snapshot by OpenAQ" />
<meta property="og:image"         content="{{ url_for('static', filename='air-quality-snapshot.png')}}" />
<style>
  .ok-feedback {
    color: green;
  }
  .chart-wrapper {
    width: 800px;
    height: 400px;
  }
</style>
{% endblock %}

{% block content %}
<div class="w3-container w3-margin">
  <h1 class="w3-text-blue">Air Quality Snapshot for {{ place_name }} {{ date_from }} to {{ date_to }}</h1>
  <div>
    <div class="w3-row">
      <div class="w3-col m5">
        {% for stats in stats_lines %}
        <div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue"">
          <p>{{ stats|safe }}</p>
        </div>
        {% endfor %}
      </div>
      <div class="w3-col m7">
        <div class="w3-right">
          <a href="{{ csv_download_url }}" class="w3-button w3-blue w3-hover-green">Download Data »</a>
          <div id="share" style="display:inline">
            <button id="copyPageLink" onclick="copyLink()" class="w3-button w3-border">Copy page link</button>
            <a id="shareTwitterLink" target="_blank" href="" class="w3-button w3-blue w3-hover-green w3-ripple">
              <i class="fa fa-twitter"></i> Share on Twitter
            </a>
            <a id="shareFacebookLink" class="w3-button w3-blue w3-hover-green w3-ripple" href="" target="_blank">
              <i class="fa fa-facebook"></i> Share on Facebook
            </a>
            <input style="display:none" id="currentURL" readonly="readonly" />
          </div>
          <a class="w3-button w3-blue w3-hover-green" href="/resources">Learn More</a></button>
        </div>
      </div>
    </div> 

    <div class="w3-cell-row">

      <div class="w3-container w3-cell">
        <div class="chart-wrapper" width="800" height="400">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    
      <div class="w3-container w3-cell" style="padding-right: 0px;">
        <div id="map" class="w3-right" style="width: 800px; height: 400px;"></div>
      </div>
    
    </div> 
  </div>
  <script>
    // begin chart
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: [
          {% for avg in averages %}
          '{{ avg.date }}',
          {% endfor %}
        ],
        datasets: [
          {
            label: "PM2.5 (µg/m³)",
            data: [
              {% for avg in averages %}
              {{ avg.average }},
              {% endfor %}
            ],
            backgroundColor: "rgba(255, 99, 132, 1)",
          },
        ],
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
        title: {
          display: true,
          text: "{{ chart_title }}",
        },
        annotation: {
          annotations: [
            {
              drawTime: "afterDatasetsDraw",
              id: "hline",
              type: "line",
              mode: "horizontal",
              scaleID: "y-axis-0",
              value: {{ who_threshold_value }},
              borderColor: "rgba(0, 127, 63, 0.65)",
              borderWidth: 5,
              label: {
                content: "WHO guidelines threshold",
                enabled: true,
                backgroundColor: "rgba(0, 95, 191, 1.0)",
                fontStyle: "normal",
              },
            },
          ]
        }
      },
    });

    // begin map
    mapboxgl.accessToken = "{{ mapbox_access_token }}";
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [{{ locations.0.coordinates.longitude }}, {{ locations.0.coordinates.latitude }}], // TODO: set center to place
        zoom: {{ map_zoom_level }}
    });
    map.addControl(new mapboxgl.FullscreenControl());
    
    // placeholder markers
    var stations = [
      {% for location in locations %}
      [ {{ location.coordinates.longitude }}, {{ location.coordinates.latitude }} ],
      {% endfor %}
    ];
    stations.forEach(station => {
        var marker = new mapboxgl.Marker()
            .setLngLat(station)
            .addTo(map);
    });

    document.getElementById("currentURL").value = window.location.href;

    // set the share twitter href
    var shareTwitterLink = document.getElementById("shareTwitterLink");
    var twitterTweetURL = "https://twitter.com/intent/tweet?text="
    var shareText = `Check out this air quality report for {{ place_name }}. `;
    shareText += encodeURIComponent(window.location.href);
    shareTwitterLink.href = `${twitterTweetURL}${shareText}`;

    // set share facebook href
    var shareFacebookLink = document.getElementById("shareFacebookLink");
    var facebookShareURL = "https://www.facebook.com/sharer.php?u=" + encodeURIComponent(window.location.href);
    shareFacebookLink.href = facebookShareURL;

    function copyLink() {
      /* Get the text field */
      var copyText = document.getElementById("currentURL");

      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /*For mobile devices*/

      /* Copy the text inside the text field */
      document.execCommand("copy");

      /* Notify the copied text */
      console.log("Copied to clipboard: " + copyText.value);

      // show text feedback
      var copyButton = document.getElementById("copyPageLink");
      copyButton.textContent = "Copied!";

      // hide text feedback after a few moments
      setInterval(function () {
        copyButton.textContent = "Copy page link";
      }, 3000);
    }
  </script>
</div>
{% endblock %}
