{% extends "base.html" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css"
  rel="stylesheet"
/>
<style>
  .ok-feedback {
    color: green;
  }
  .chart-wrapper {
    width: 600px;
    height: 400px;
  }
</style>
{% endblock %}

{% block content %}
<div class="w3-container">
  <h1 class="w3-text-blue">AQ Report Sheet Generator</h1>
  <h2>Here's Your Report for {{ place_name }}</h2>
  <div>
    <h3>Stats</h3>
    <p>To be added...</p>
    <h3>Charts</h3>
    <div class="chart-wrapper">
      <canvas id="myChart" width="600" height="400"></canvas>
    </div>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: "bar",
        // placeholder data!
        data: {
          labels: [
            {% for avg in averages %}
            '{{ avg.date }}',
            {% endfor %}
          ],
          datasets: [
            {
              label: "PM2.5 (ppm)",
              data: [
                {% for avg in averages %}
                {{ avg.average }},
                {% endfor %}
              ],
              // TODO: customize color based on the avg value
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(255, 99, 132, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(255, 99, 132, 0.2)",
                "rgba(255, 99, 132, 0.2)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(255, 99, 132, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 99, 132, 1)",
                "rgba(255, 99, 132, 1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
          title: {
            display: true,
            text: "{{ chart_title }}",
          },
        },
      });
    </script>
    <h3>Map of sensor locations</h3>
    <div id="map" style="width: 600px; height: 400px;"></div>
    <h3>Download options</h3>
    <button class="w3-button w3-blue w3-hover-green">Download Report »</button>
    <button class="w3-button w3-blue w3-hover-green">Download Data »</button>
    <h3>Learn More</h3>
    <a href="/resources">Learn More</a>
    <div id="share">
      <h3>Share this page</h3>
      <input type="text" id="currentURL" readonly="readonly" /><button
        onclick="copyLink()"
        class="w3-button w3-border w3-hover-green"
      >
        Copy link
      </button>
    </div>
  </div>
  <script>
    mapboxgl.accessToken = "{{ mapbox_access_token }}";
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [{{ locations.0.coordinates.longitude }}, {{ locations.0.coordinates.latitude }}], // TODO: set center to place
        zoom: {{ map_zoom_level }}
    });
    map.addControl(new mapboxgl.FullscreenControl());
    
    // placeholder markers
    var stations = [
      {% for location in locations %}
      [ {{ location.coordinates.longitude }}, {{ location.coordinates.latitude }} ],
      {% endfor %}
    ];
    stations.forEach(station => {
        var marker = new mapboxgl.Marker()
            .setLngLat(station)
            .addTo(map);
    });

    document.getElementById("currentURL").value = window.location.href;

    function copyLink() {
      /* Get the text field */
      var copyText = document.getElementById("currentURL");

      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /*For mobile devices*/

      /* Copy the text inside the text field */
      document.execCommand("copy");

      /* Notify the copied text */
      console.log("Copied to clipboard: " + copyText.value);

      // show text feedback
      var shareWidget = document.getElementById("share");
      var feedback = document.createElement("span");
      feedback.classList.add("ok-feedback");
      var feedbackText = document.createTextNode("Copied!");
      feedback.appendChild(feedbackText);
      shareWidget.appendChild(feedback);

      // hide text feedback after a few moments
      setInterval(function () {
        feedback.remove();
      }, 3000);
    }
  </script>
</div>
{% endblock %}
